<a href="https://colab.research.google.com/github/michalis0/DataMining_and_MachineLearning/blob/master/week6/Challenge_of_the_week.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Mining and Machine Learning - Week 6
# Classification (I)

## Challenge of the week

Take 15 minutes to think through the following business problem.
It is using the same dataset on Advertisements clicked on by customers that we used in the lab.

*Once you are done please post your solution in Slack under #general.* A simple screenshot should do

Here is the dataset again for you, along with one of the models we used to solve it.

In [1]:
# import required packages
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

from sklearn.linear_model import LogisticRegression, LogisticRegressionCV

%matplotlib inline
sns.set_style('dark')

The dataset is available online here: https://www.kaggle.com/dipankarroydipu/advertising-data-analysis-logistic-regression/data.

It has 1000`rows and 10 features:
* `Daily Time Spent on Site`: consumer time on site in minutes
* `Age`: customer age in years
* `Area Income`: average income of geographical area in which customer resides
* `Daily Internet Usage`: average minutes a day a customer is online
* `Ad Topic Line`: headline of the advertisement
* `City`: city of the customer
* `Male`: takes 1 if customer is male
* `Country`: country of the customer
* `Timestamp`: time at which customer clicked on ad
* `Clicked ad`: 1 if clicked on ad and 0 otherwise.

The goal is the predict whether a customer clicks on an advertisement email using `Clicked ad`.

First, load the dataset.

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/michalis0/DataMining_and_MachineLearning/master/week6/data/advertising.csv')
data.head()

   Daily Time Spent on Site  Age  ...            Timestamp  Clicked on Ad
0                     68.95   35  ...  2016-03-27 00:53:11              0
1                     80.23   31  ...  2016-04-04 01:39:02              0
2                     69.47   26  ...  2016-03-13 20:35:42              0
3                     74.15   29  ...  2016-01-10 02:31:19              0
4                     68.37   35  ...  2016-06-03 03:36:18              0

[5 rows x 10 columns]

In [3]:
le=LabelEncoder()
# fit_transform on entire dataset
data['city_label'] = pd.Series(le.fit_transform(data.City))
data['country_label'] = pd.Series(le.fit_transform(data.Country))

In [4]:
# This is the selected model
X = data.drop(['Timestamp', 'Clicked on Ad', 'Ad Topic Line', 'City', 'Country'], axis=1)

y= data['Clicked on Ad']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

log_reg =LogisticRegression(max_iter=1000, solver='lbfgs', random_state=0)

log_reg.fit(X_train, y_train)

y_pred = log_reg.predict(X_test)

y_pred

confusion_matrix(y_test, y_pred)

array([[89,  7],
       [13, 91]])

##The business problem

The advertisement producer decides to conduct a campaign to improve the rate at which customers click on its adverts.  

For this it will only target the customers for which our model predicted that they will not click on the ad.   

**Administrative cost**: The campaign will entail a USD 3 administrative cost for each contacted customer. 

**Offer cost**: If the contacted customer click on the new offer, this will cost the advertiser an additional USD 100 (for each accepting customer). This is because a special sale/offer is made.  

From a previous campaign it is assumed that a fraction of 0.3 of the contacted customers accept the offer. 

**Value of missing a customer's business due to not clicking on ads**: The fact that a customer does not click on an add, costs the enterprise USD 1000 for each lost customer. This is estimated to be the forgone commercial value of the business the customer could generate if he or she clicked on the ad.

In summary, you can use the following elements for the costing function:
*admin_cost=3
*offer_cost=100
*f=0.3
*no_click_value=1000  


###_For the test set only, calculate the average cost per customer of the campaign, given the predicted True Positives, True Negatives, False Positive and False Negatives from the model shown above._

The average cost will be the sum of all cost incurred (amin, offer, no click) divided by the total number of customers in the test set.

In [ ]:
admin_cost=3
offer_cost=100
f=0.3
no_click_value=1000

In [5]:
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
print('True positives: '+str(tp))
print('False positives: '+str(fp))
print('True negatives: '+str(tn))
print('False negatives: '+str(fn))

True positives: 91
False positives: 7
True negatives: 89
False negatives: 13

In [ ]:
# your code here